
  <!-- 
  <form [formGroup]="ropaForm">
    <ion-input formControlName="nombre" label="Nombre"></ion-input>
    <ion-input formControlName="cantidad" label="Cantidad"></ion-input>
    <ion-input formControlName="descripcion" label="Descripcion"></ion-input>
  </form> -->
  <div class="ion-padding">
    <h1>Ingresa Prenda de Ropa:</h1>
    <div class="form-container">
      <form [formGroup]="ropaForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">cantidad</ion-label>
            <ion-input type="number" formControlName="cantidad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input formControlName="descripcion"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" type="submit" class="ion-margin-top">Enviar</ion-button>
      </form>
    </div>
  </div>
  

